*{  
     margin: 0px;
     font-family: monospace;
  
     
}
/*headre n nav*/
#marque{
    background-color: crimson;
    border-bottom-style: solid;
    border-bottom-color: white; 
    height: auto;
    color: white;
    text-align: justify;
    size: 10px;
    padding:5px;
}

header{
  
    display: flex;
    justify-content: space-between;
    background-color: #4c4c4c;
    height: 60px;

}
img{
  padding: 10px;
  height: 40px;
  width:100px;

}
a{
    
    color: darkgrey;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    
}
a:hover{
  color: darkgoldenrod;
}
nav{
      
    display: inline-block;
    justify-content: space-around;
    size: 20px ;
    font-family:'Courier New', Courier, monospace ;
     padding: 20px;
     font-weight: bold;
  
}
/*tech karo about*/
#circle{
      height: auto;
    background-color: pink;
    color: brown;
    padding-bottom: 3em;
    justify-content: center;


}
h1{   

    text-align: center;
    padding: 30px;
    font-size: 3em;
    font-weight: bold;
    font-family: monospace;
    font-weight: bold;
       
}
#circle div p{

   display: inline-block;
    border-top: brown solid;
    border-bottom: brown solid;
 display: flex;
 justify-content: center;
 margin-left: 4em;
 margin-right: 4em;

    
}
#circle p{
         
    text-align: center;
    font-size: 2em;
    font-weight: bold 
}
.btn
{
display: flex;
justify-content: center;
}

button{
    display: block;
    background-color: brown;
    color: pink;
    border: none;
  
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
   padding: 1em 2em 1em 2em;
    font-weight: bold;
}
button:hover{
  color:brown;
  background-color: pink;
  border: 1px solid brown;
}

.container{
  min-height: 50px;
 margin: 70px auto 0;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
text-align: center;
}
.container .box{
  position: relative;
  width: 300px;
  height: 280px;
  /* margin: 10px; */
  margin-top: 2px;
  display: inline-block;
  justify-content: space-around;
}
              /*services*/



              #services {
                margin-top: 0;
                height: auto;
                background: url(images/floral.png);
                background-color: #EFECE7;
                padding-bottom: 2em;
              }
            
            figure .box i .fab{
                font-size: 4em;
            }
            .fab {
                font-family: "Font Awesome 5 Brands";
                font-size: 5em;
            }

                h2{
                text-align: center;
                padding: 1em;
                font-family: forte;
                font-size: 2em;
                
            }
            h4{

                font-size: 2em;
                font-weight: bold;

            }
            .fab:hover{
                color: lightcoral;
                transition: ease-in 0.5s;
            }
            .box p{
                font-size: 1.3em;
                font-weight: bold;
            }




/* Portfolio */

.para{

  border-bottom: solid brown;
  border-top: solid brown;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5em;
  padding: 8px 30px 8px 50px;
  
  display: flex;
  justify-content: center;
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
  padding: 20px;
  
}

/* .flex-container{
    text-align: center;
}

.flex-container > div {
    width: auto;
  }
  .flex-container .heading,.para{
    margin-right: 8em;
    margin-left: 8em;
  } */
  #portfolio {
    margin-top: 0;
    height: auto;
    background: url(images/floral.png);
    background-color: #D6C6AC;
  }
  .container{
    min-height: 50px;
   margin: 70px auto 0;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}
.container .box{
 position: relative;
 width: 300px;
 height: 280px;
 margin: 10px;
 display: inline-block;
} 
.container .box .imgbox{
 position: relative;
 overflow: hidden;
 border-radius: 13px;
}
.container .box .imgbox img{
 max-width: 100%;
  transition: transform 2s;
  width: 300px;
 height: 273px;
}
/* .container .box:hover .imgbox img{
transform: scale(1.2);
 
} */
.container .box  .details{
 position: absolute;
 top: 0;
 left: 0;
 bottom:0;
 right: 0;
 background: rgba(0,0,0, .8);
  transform: scaleY(0);  

 border-radius: 13px;
}
.container .box:hover  .details{
   transform: scaleX(1); 
 cursor: pointer;


}
.container .box  .details .content{

 position: absolute;
 top: 50%;
 /* transform: translateY(-50%);  */
 padding: 15px;
 color: white;
 /* border: solid white 1px; */
 top: 2em;
 left: 3em;

 

}
.container .box  .details .content .fas{

  border-radius: 100%;
  border: white 1px solid;
  
  padding: 1em;
  justify-content: center;
  align-items: center;
}
.container .box  .details .content .fas:hover{

color: black;
background-color: white;

}


/* social icons */
#social{
background-image: url(images/floral.png);
background-color: skyblue;
 height: auto;
 
 align-items: center;
 
}
#social div{
  text-align: center;
  padding-bottom: 10px;
}


#social i{
   
        border-radius: 100%;
        border:  solid black;
        padding:  10px; 
        /* margin: 5px; */
        font-size: 3em;
        
        
     
}
    
#social i:hover{
        background-color:black;
        color: white;
        transition: ease 1s;
    } 
     
footer{

    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.1em;
    height: auto;
    padding: 10px;
    bottom: 1px;




}
footer:hover .fa-heart{
 color: red;
 transition: ease-in 1s;

}